<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- 这里的路径是针对   public来说的 -->
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <h3>
        <%= title %>
    </h3>
    <p>EJS Welcome to
        <%= title %>
    </p>
</body>

</html>