.box{
    display: flex;
    flex-direction: row;
    background-color: orange;
    

}
.item1{
    flex: 1;
    height: 100px;
    background-color: red;
}.item2{
    flex: 1;
    height: 100px;
    background-color: green;
}