/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/* 字体 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?hfhyhj');
    src: url('../fonts/icomoon.eot?hfhyhj#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hfhyhj') format('truetype'),
        url('../fonts/icomoon.woff?hfhyhj') format('woff'),
        url('../fonts/icomoon.svg?hfhyhj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
input{
	outline: 0
}
/* i统一使用 这个图标 */
i{
    font-family: 'icomoon';
    font-size: 12px;
}

/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
/* 头部开始 */
.shortcut{
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
}
.shortcut li{
	float: left;
}
.style-red{
  color: #c81623;	
}
.shortcut .spacer{
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 0 12px;
	margin-top: 9px;
}
/* 头部结束 */
/* logo栏目开始 */
.logoheader{
	height: 104px;
	
	position: relative;
	
}
.logoheader .logo {
	position: absolute;
	top: 50%;
	margin-top: -28px;
}
.logoheader .center_input{
	position: absolute;
	width: 541px;
	height: 56px;
	
	left: 50%;
	margin-left: -269px;
	top: 50%;
	margin-top: -28px;
	
}

.logo a{
	display: block;
	width: 175px;
	height: 56px;
	background: url('../img/logo.png');
	font-size: 0;
	
}
.center_input input{
	float: left;
	width:445px;
	height: 32px; 
	border: 2px solid #b1191a;
	color: #CCC;
	padding-left: 10px;

}
.center_input button{
	float: left;
	height: 36px;
	width: 82px;
	background-color: #b1191a;
	border: 0;
	color: #fff;
	font-size: 16px;
}
.center_input .hotkeys a{
	float: left;
	padding-top: 8px;
	padding-left: 13px;
	padding-right: 13px;

}
.logoheader .caricon{
	height: 36px;
	width: 138px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 36px;
	line-height: 36px;
	text-align: center;
	
}
.caricon .icon_car {
	margin-right: 8px;
}
.caricon .icon_right1 {
	margin-left: 8px;
}
.count{
	position: absolute;
	top: -5px;
	/* 左侧对齐文字才能往游走 */
	left:  105px;
	height: 14px;
	line-height: 14px;
	padding: 0 3px;
	color: white;
	background-color: #b1191a;
    border-radius: 7px 7px 7px 0;


}
/* logo栏目header 结束 */