@import '../styles/default.less';
.container{
  
  background-color:@color_bgc;
 
  .nav-left{
    background-color: #001529;
    
    height: 100%;
  }
  .main{

    height: 100vh;

  }
  .content{
    
    position: relative;
    padding: 20px;
   
  }
}
a{
  color: orange;
}
