header{
    height: 30px;
    background-color: #043567;
    .nav {
        .nav_left {
            float: left;
            width: 720px;
        }
        .nav_right{
            float: right;
        }
        .nav_left,.nav_right{
            a {
                color: white;
                margin-left: 8px;
                line-height: 30px;
            }
        }
    }
}
section{
    background-color: white;
    height: 100px;
    .content{
        height: 100%;
        .search{
            float: left;
            width: 172px;
            height: 43px;
           background:url("../image/iconall_index.png") no-repeat   0 -836px;
            
        }
    }
}
