/* 设置body统一样式 */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    /* 去除图片底部的空白间隙 */
    border: 0;
    /*ie6*/
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}

.app {
    height: 45px;
}

.app li:nth-child(1) {
    width: 8%;
}

.app li:nth-child(1) img {
    width: 10px;
}

.app li:nth-child(2) {
    width: 10%;
}

.app li:nth-child(2) img {
    width: 30px;
    /* 发现图片没有居中对齐，原因是图片的对齐方式是基线对齐, */
    vertical-align: middle;
}

.app li:nth-child(3) {
    width: 57%;
}

.app li:nth-child(4) {
    width: 25%;
    background-color: red;
}

.app ul li {
    list-style: none;
    float: left;
    height: 45px;
    background-color: #333;
    /* 内容水平居中 */
    text-align: center;
    line-height: 45px;
    color: white;
}


/* 搜索 */

.search_wrap {
    position: fixed;
    width: 100%;
    height: 44px;
    overflow: hidden;
    min-width: 320px;
    max-width: 640px;
}

.search_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}


/* 在之前，插入元素 */

.search_btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url('../images/s-btn.png') no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search_login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    color: white;
    text-align: center;
    line-height: 44px;
}

.search {
    position: relative;
    height: 30px;
    background-color: #ccc;
    margin: 0 50px;
    border-radius: 15px;
    /* 外边距合并问题，父类加hidden */
    margin-top: 7px;
}

.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 10px;
    background: url('../images/jd.png') no-repeat;
    background-size: 20px 15px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}


/* 涉及到精灵图的缩放,二倍精灵图的缩放*/


/* jd-sprites.png长宽是  400x 400 */


/* 1.在firework里面吧精灵图登录缩放比例为为原来的一半，200x200  */


/* 2.之后根据大小测量坐标 */


/* 3注意代码 background-seize ：精灵图原来宽度的一半，宽度变成1半 */

.sou {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 8px;
    left: 60px;
    background: url('../images/jd-sprites.png') no-repeat -81px 0;
    /* 涉及到精灵图的缩放，所以backgroud-size设置成1办, */
    background-size: 200px auto;
}

.banner img {
    width: 100%;
}


/*品牌内容 */

.pingpai div {
    float: left;
    width: 33.33%;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.pingpai img {
    width: 100%;
}


/* 品牌内容结束 */


/* 品牌分类开始 */

.pingpai_c {
    background-color: aqua;
}

.pingpai_c li {
    float: left;
    height: 81px;
    width: 20%;
}

.pingpai_c li a {
    text-align: center;
    display: block;
}

.pingpai_c img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.pingpai_c span {
    display: block;
}


/* 品牌分类结束 */