<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<p>父模板中的所有数据都是在父级作用域中进行编译的，子组件模板是在子组件模板中进行编译的，</p>
		<p>作用域插槽的目的：父组件替换插槽的标签，但是内容由子组件来提供</p>
		<p style="color:red">1.子组件模板要进行slot包裹，2，v-bind:xx定义数据，3，在子组件中使用  slot-scope="solt"拿到插槽以及他的值</p>
		<p>其实就是父组件对子组件的展示的样式不满意，就拿子组件的数据过来，自己整</p>
		 <template id="box">
			<slot v-bind:data="books"> <div style="border: 1px solid red;">
				 <!-- 此处的books是来自子组件作用域的数据 --> 
				<ul v-for="item in books">
					<li>{{item}}</li>
				</ul>
			 </div>
			 </slot>
		 </template>
		<div id="app">
			
			<!-- 儿子组件 -->
			<myitem></myitem>
			<!-- 儿子组件 -->
			 <myitem></myitem>
			 <!-- 对这个儿子组件不满意，我自己来进行修噶 -->
			<myitem >
				<!-- 获取子组件中的 -->
				<div slot-scope="slot">
					<span style="color: red;" v-for="item in slot.data">{{item}}-</span>
				</div>
			</myitem>

		</div>
		<script type="text/javascript">
			let app=new Vue({
				el:"#app",
				methods:{
					
				},
				data:{
				
				},
				components:{
					myitem:{
						template:"#box",
						data(){
							return {
								books:["a","b","C"]
							}
						}
					}
				}
			})
		</script>
	</body>
</html>
